
body {
    position: relative;
    color: white;
    background-color: #171a21;
    text-align: left; /* Align text to the left */
    padding-top: 70px; /* Adjust padding to accommodate the fixed menu */
}

button {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #171a21;
    border-radius: 5px;
    margin: auto;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#meni {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #1b2838;
    display: flex;
    align-items: center;
    text-align: center;
    height: 50px;
    z-index: 999; /* Ensure the menu stays above other content */
}

.container {
    display: flex; /* Use flexbox to create a horizontal layout */
    justify-content: space-between; /* Position elements at the ends */
    align-items: flex-start; /* Align items to the top */
}

.info {
    text-align: left; /* Align info text to the left */
}

.carousel-container {
    flex: 1; /* Take up remaining space */
    margin-left: 50px; /* Add space between text and carousel */
}

.game-image {
    width: 500px; /* Set the width of carousel images */
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
    background-color: #1e2b3b;
    margin-top: 20px;
    color: white;
}

td, th {
    border: 1px solid #4f5b66;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #192227;
}

tr:hover {
    background-color: #253341;
}

/* Transitions for the carousel */
.carousel-item {
    transition: opacity 0.5s ease-in-out;
}

.carousel-item:not(.active) {
    opacity: 0;
}

#table-container {
    margin-top: 50px; /* Adjust the margin to create spacing between the carousel and table */
}

#footer {
    background-color: #1b2838;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* ... Existing styles ... */
